<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccds.duty.mapper.ShareTokenMapper">

    <resultMap id="BaseResultMap" type="com.ccds.duty.entity.ShareTokenDO">
        <id column="id" property="id"/>
        <result column="station_id" property="stationId"/>
        <result column="token_hash" property="tokenHash"/>
        <result column="expire_at" property="expireAt"/>
        <result column="revoked_at" property="revokedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ccds_share_token (station_id, token_hash, expire_at, created_by)
        VALUES (#{stationId}, #{tokenHash}, #{expireAt}, #{createdBy})
    </insert>

    <update id="updateById">
        UPDATE ccds_share_token
        <set>
            <if test="stationId != null">station_id = #{stationId},</if>
            <if test="tokenHash != null">token_hash = #{tokenHash},</if>
            <if test="expireAt != null">expire_at = #{expireAt},</if>
            <if test="revokedAt != null">revoked_at = #{revokedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            gmt_modified = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, station_id, token_hash, expire_at, revoked_at,
               created_by, gmt_create, gmt_modified
        FROM ccds_share_token
        WHERE id = #{id}
    </select>

    <select id="selectByTokenHash" resultMap="BaseResultMap">
        SELECT id, station_id, token_hash, expire_at, revoked_at,
               created_by, gmt_create, gmt_modified
        FROM ccds_share_token
        WHERE token_hash = #{tokenHash}
    </select>

    <select id="selectValidByStation" resultMap="BaseResultMap">
        SELECT id, station_id, token_hash, expire_at, revoked_at,
               created_by, gmt_create, gmt_modified
        FROM ccds_share_token
        WHERE station_id = #{stationId}
          AND expire_at > #{now}
          AND revoked_at IS NULL
        ORDER BY gmt_create DESC
    </select>

    <update id="revokeAllByStation">
        UPDATE ccds_share_token
        SET revoked_at = #{now}
        WHERE station_id = #{stationId}
          AND expire_at > #{now}
          AND revoked_at IS NULL
    </update>

</mapper>
